h1{
    text-align: center;
    color:black;
    font-size: 9rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;

}

body{
    background-image:url("135960.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#stopwatch{
    display:flex;
    justify-content: center;
    align-items: center;
}

#display{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 7.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#start{
    background-color: rgb(75, 218, 147);
    padding:0.5%;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5%;
    font-size:40px;
    color: black;
    margin: 0.5%;
    cursor:pointer;


}
#start:hover{
    background-color: rgb(81, 255, 0);
}

#stop{
    background-color: rgb(226, 67, 67);
    padding:0.5%;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5%;
    font-size:40px;
    color: black;
    margin: 0.5%;
    cursor:pointer;

}

#stop:hover{
    background-color: rgb(255, 0, 0)
}

#reset{
    background-color: rgb(63, 156, 255);
    padding:0.5%;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 5%;
    font-size:40px;
    color: black;
    margin: 0.5%;
    cursor:pointer;


}

#reset:hover{
    background-color: rgb(13, 50, 255);
}
